
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.env
*.env.*


node_modules
dist
dist-ssr
*.local

python/venv/

# Firebase credentials
backend/riskwise-bffe8-firebase-adminsdk-fbsvc-d988bd5c0e.json
# Env file
backend/server/.env.development

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

riskwise-64d40-firebase-adminsdk-fbsvc-084fc0457a.json