@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --header-font: "Cal Sans";
  --text-font: "Inter";

  --color-dark: #152b3f;
  --color-highlight: #18618a;
  --color-card-bg: #4db2e0;
  --color-accent: #ed7508;
  --color-white: #faf9f6;
}

.dark {
  --color-dark: #e8e6e3;
  --color-highlight: #4db2e0;
  --color-accent: #ffb877;
  --color-card-bg: #708090;
  --color-white: #2c3e50;
}

* {
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
  font-family: var(--text-font);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--color-dark);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight);
  border-radius: 6px;
  border: 2px solid var(--color-white);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

/* in your global CSS or tailwind config */
.export-clean * {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  overflow: visible !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none; /* Remove default focus ring */
}
